@import "src/styles/mixins";
@import "src/styles/variables";

.sidebar {
  left: 0;
  margin-top: $header-height-desktop;
  width: 100%;
  height: $content-height-desktop;

  @include phones {
    margin-top: $header-height-phone;
    height: $content-height-phone;
  }

  &__sidenav {
      box-sizing: border-box;
      width: 200px;
  }
}
