@import "src/styles/mixins";
@import "src/styles/variables";

.toolbar {
  padding: 0 50px;

  @include phones {
    padding: 0 10px;
  }
}

.todos {
  padding: 0 50px;

  @include phones {
    padding: 0 10px;
  }

  &__item {
    list-style: none;
  }
}

.spinner {
  margin: auto;
}
